.flows.json.backup
[{"id":"e6863b17.8f4f98","type":"tab","label":"Numeros","disabled":false,"info":""},{"id":"39aad12d.a4a37e","type":"tab","label":"Fechas","disabled":true,"info":""},{"id":"f93dd7ce.20ff88","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"146169d5.fe0886","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31aa3dd.89bc2c2","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"afa8a771.f724d8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"9d847c62.ced8f","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"b9d2707a.79eb7","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"1000"},{"id":"2a5ea82f.6e1f48","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3acfa5f5.2a128a","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1698ced3.b4e781","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"792fc4c5.22850c","type":"ui_group","z":0,"name":"Default","tab":"3acfa5f5.2a128a","disp":true,"width":"6","collapse":false},{"id":"1aecb296.35168d","type":"ui_group","z":0,"name":"Default","tab":"1698ced3.b4e781","disp":true,"width":"6","collapse":false},{"id":"d5da4be6.f9a148","type":"function","z":"e6863b17.8f4f98","name":"Flow Set Mes","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["e3b708b0.722f38"]]},{"id":"5959c83e.2bcda8","type":"function","z":"e6863b17.8f4f98","name":"Formato Serial Mes","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valMes = flow.get('valMes')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='m' +  valMes + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":1360,"y":180,"wires":[["cefbecad.31964"]]},{"id":"6d5971c4.480f2","type":"function","z":"e6863b17.8f4f98","name":"Flow Set Mes","func":"var contadorMes;\n\ncontadorMes = msg.payload;\nflow.set('valMes',contadorMes);\n//flow.set('dias',0);\n\nmsg.payload = contadorMes;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["e3b708b0.722f38"]]},{"id":"86859365.83db7","type":"function","z":"e6863b17.8f4f98","name":"Formato Serial Fecha","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar dia = flow.get('dia')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='f' +  dia + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":1360,"y":240,"wires":[["cefbecad.31964"]]},{"id":"2426fba0.d0b2e4","type":"function","z":"e6863b17.8f4f98","name":"Flow Set Fecha","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":660,"wires":[["b271c4d3.1d3c88"]]},{"id":"bc5d123e.3ffa2","type":"function","z":"e6863b17.8f4f98","name":"Flow Set Fecha","func":"\nvar contador = msg.payload;\nflow.set('dia',contador);\n//global.set(\"index\",i);\nmsg.payload = contador;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["b271c4d3.1d3c88"]]},{"id":"cefbecad.31964","type":"rbe","z":"e6863b17.8f4f98","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1590,"y":280,"wires":[["573e4f0.a4d24b"]]},{"id":"573e4f0.a4d24b","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"100","timeoutUnits":"milliseconds","rate":"2","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1730,"y":280,"wires":[["bfac5ae8.88c278","70b52d95.64e874"]]},{"id":"bfac5ae8.88c278","type":"serial out","z":"e6863b17.8f4f98","name":"Arduino","serial":"b9d2707a.79eb7","x":1920,"y":300,"wires":[]},{"id":"70b52d95.64e874","type":"debug","z":"e6863b17.8f4f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1920,"y":360,"wires":[]},{"id":"3ff39aed.4b54e6","type":"function","z":"e6863b17.8f4f98","name":"Formato Serial Apagado","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar s = flow.get('s')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='s';\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":1370,"y":360,"wires":[["cefbecad.31964"]]},{"id":"86d01595.2da558","type":"function","z":"e6863b17.8f4f98","name":"Flow Set Año","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["9624855f.1b31d8"]]},{"id":"957a271d.967148","type":"function","z":"e6863b17.8f4f98","name":"Formato Serial Año","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valAnio = flow.get('valAnio')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='a' +  valAnio + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":1350,"y":120,"wires":[["cefbecad.31964"]]},{"id":"66d1aeeb.90597","type":"function","z":"e6863b17.8f4f98","name":"Flow Set Año","func":"var contadorAnio;\n\ncontadorAnio = msg.payload;\nflow.set('valAnio',contadorAnio);\n//flow.set('dias',0);\n\nmsg.payload = contadorAnio;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["9624855f.1b31d8"]]},{"id":"bb5d9d20.cb487","type":"function","z":"e6863b17.8f4f98","name":"Flow Set Días Total","func":"var contadorDias;\n\ncontadorDias = msg.payload;\nflow.set('valDiaActual',contadorDias);\n//flow.set('dias',0);\n\nmsg.payload = contadorDias;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["723a983d.8d506"]]},{"id":"90b754ce.b54dc8","type":"function","z":"e6863b17.8f4f98","name":"Formato Serial Días Totales","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar valDiaActual = flow.get('valDiaActual')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='t' +  valDiaActual + ',' + 0 + ')'; //0 Color Blanco\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":1380,"y":300,"wires":[["cefbecad.31964"]]},{"id":"3a24baad.cf5016","type":"inject","z":"39aad12d.a4a37e","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":280,"wires":[["c08d915f.8769f","136dc860.3ace28","1dc95fd0.dfaad"]]},{"id":"ab5840a4.36d42","type":"function","z":"39aad12d.a4a37e","name":"Dias Accidentes","func":"var Moment =  context.global.get('moment');\n//Cuántos segmentos ocupa cada número de día del mes\nvar segmDia=[2,5,5,4,5,6,3,7,6,8,4,7,7,6,7,8,5,9,8,11,7,10,10,9,10,11,8,12,11,11,7];\n//Suma total de segmentos iluminados hasta el día actual\nvar segmDiaTotal=[2,7,12,16,21,27,30,37,43,51,55,62,69,75,82,90,95,104,112,123,130,140,150,159,169,180,188,200,211,222,229];\nvar msg2;\nvar msg3;\nvar d = global.get(\"inicio\")||0;\nvar inicio = new Moment(d);\n\n\nvar actual =  new Moment();\nvar dias = actual.diff(inicio, 'days');\nvar semanas = actual.diff(inicio, 'weeks');\n\nglobal.set('dias',dias);\nglobal.set('semanas',semanas);\n\nmsg.payload = dias;\nmsg2 = {payload: inicio.format('DD/MM/YYYY')};\nmsg3 = {payload: semanas}\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":620,"y":60,"wires":[[],[],[]]},{"id":"15404efe.161531","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"diaActual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"766d3191.74545","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"anio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"d5909b6d.a61a78","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"mes","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[[]]},{"id":"e95a5095.65fcf","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"contadorDias","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[[]]},{"id":"74d2aadc.7d0b04","type":"comment","z":"39aad12d.a4a37e","name":"Dia","info":"","x":290,"y":160,"wires":[]},{"id":"b3557f0f.39cc8","type":"comment","z":"39aad12d.a4a37e","name":"Año","info":"","x":290,"y":240,"wires":[]},{"id":"719d897b.564078","type":"comment","z":"39aad12d.a4a37e","name":"Mes","info":"","x":290,"y":320,"wires":[]},{"id":"e3928cb5.762e7","type":"function","z":"e6863b17.8f4f98","name":"Flow reset dias totales","func":"var accidente = flow.get('valColor')||0;\nvar valDiaActual;\nvar contadorDias;\n\ncontadorDias = msg.payload;\nif (accidente>=2)\n{\n    contadorDias = 0;\n    flow.set('valDiaActual',contadorDias);\n}\nmsg.payload = contadorDias;\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":840,"wires":[["f2bc1a68.31fd9"]]},{"id":"40845a9e.c69f14","type":"function","z":"e6863b17.8f4f98","name":"Flow reset años","func":"var accidente = flow.get('valColor')||0;\nvar valAnio;\nvar contadorAnio;\ncontadorAnio = msg.payload;\nif (accidente>=2)\n{\n    contadorAnio = 0;\n    flow.set('valAnio',contadorAnio);\n}\nmsg.payload = contadorAnio;\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":760,"wires":[["5ed9a6a6.2e6d88"]]},{"id":"c505beed.9eda5","type":"function","z":"e6863b17.8f4f98","name":"Flow reset meses","func":"var accidente = flow.get('valColor')||0;\nvar valMes;\nvar contadorMes;\ncontadorMes = msg.payload;\nif (accidente>=2)\n{\n    contadorMes = 0;\n    flow.set('valMes',contadorMes);\n}\nmsg.payload = contadorMes;\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":800,"wires":[["2c6599a5.fbc966"]]},{"id":"ef76c16a.5c0e9","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":800,"wires":[["e3928cb5.762e7","c505beed.9eda5","40845a9e.c69f14"]]},{"id":"390337ec.fb4ac8","type":"ui_button","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":10,"width":0,"height":0,"passthru":false,"label":"Apagar Displays","tooltip":"","color":"","bgcolor":"","icon":"","payload":"s","payloadType":"str","topic":"","x":120,"y":440,"wires":[["591b4100.972f7"]]},{"id":"b271c4d3.1d3c88","type":"ui_button","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":7,"width":0,"height":0,"passthru":false,"label":"Enviar Incidente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"valColor,dia","payloadType":"str","topic":"","x":540,"y":620,"wires":[["ef76c16a.5c0e9","1473c291.672e3d"]]},{"id":"ea090cd2.3f28a","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Tipo de Incidente","tooltip":"","place":"Incidente","group":"792fc4c5.22850c","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":"0","type":"str"},{"label":"Casi Accidente","value":"1","type":"str"},{"label":"Primer Auxilio","value":"2","type":"str"},{"label":"No Incapacitante","value":"3","type":"str"},{"label":"Incapacitante","value":"4","type":"str"}],"payload":"","topic":"","x":130,"y":660,"wires":[["2426fba0.d0b2e4"]]},{"id":"92413399.d74c7","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color Mes","tooltip":"","place":"Seleccionar color","group":"792fc4c5.22850c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Blanco","value":"0","type":"str"},{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":110,"y":280,"wires":[["d5da4be6.f9a148"]]},{"id":"9d3fcae7.568998","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color Año","tooltip":"","place":"Seleccionar color","group":"792fc4c5.22850c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Blanco","value":"0","type":"str"},{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":100,"y":160,"wires":[["86d01595.2da558"]]},{"id":"67d76b29.915eb4","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Mes","tooltip":"","place":"Seleccione mes","group":"792fc4c5.22850c","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Enero","value":"1","type":"str"},{"label":"Febrero","value":"2","type":"str"},{"label":"Marzo","value":"3","type":"str"},{"label":"Abril","value":"4","type":"str"},{"label":"Mayo ","value":"5","type":"str"},{"label":"Junio","value":"6","type":"str"},{"label":"Julio","value":"7","type":"str"},{"label":"Agosto","value":"8","type":"str"},{"label":"Septiembre","value":"9","type":"str"},{"label":"Octubre","value":"10","type":"str"},{"label":"Noviembre","value":"11","type":"str"},{"label":"Diciembre","value":"12","type":"str"}],"payload":"","topic":"","x":90,"y":220,"wires":[["6d5971c4.480f2"]]},{"id":"d1b5c3ae.b925f","type":"ui_text_input","z":"e6863b17.8f4f98","name":"","label":"Año","tooltip":"","group":"792fc4c5.22850c","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":90,"y":100,"wires":[["66d1aeeb.90597"]]},{"id":"ebc00219.d8165","type":"ui_text_input","z":"e6863b17.8f4f98","name":"","label":"Dias sin Accidentes","tooltip":"","group":"792fc4c5.22850c","order":9,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":130,"y":340,"wires":[["bb5d9d20.cb487"]]},{"id":"4f68e104.74689","type":"ui_date_picker","z":"e6863b17.8f4f98","name":"","label":"Fecha","group":"792fc4c5.22850c","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":540,"wires":[["8c70eb63.f48398"]]},{"id":"8c70eb63.f48398","type":"moment","z":"e6863b17.8f4f98","name":"Formato","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":140,"y":600,"wires":[["bc5d123e.3ffa2"]]},{"id":"c08d915f.8769f","type":"moment","z":"39aad12d.a4a37e","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":200,"wires":[["15404efe.161531"]]},{"id":"136dc860.3ace28","type":"moment","z":"39aad12d.a4a37e","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":280,"wires":[["766d3191.74545"]]},{"id":"1dc95fd0.dfaad","type":"moment","z":"39aad12d.a4a37e","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"M","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":360,"wires":[["d5909b6d.a61a78"]]},{"id":"632e3340.c7777c","type":"link in","z":"e6863b17.8f4f98","name":"thisIsSerialAño","links":["9624855f.1b31d8","5ed9a6a6.2e6d88"],"x":1155,"y":120,"wires":[["957a271d.967148"]]},{"id":"575ef3c9.d935b4","type":"link in","z":"e6863b17.8f4f98","name":"thisIsSerialMes","links":["e3b708b0.722f38","2c6599a5.fbc966"],"x":1155,"y":180,"wires":[["5959c83e.2bcda8"]]},{"id":"a80607a6.3df5c8","type":"link in","z":"e6863b17.8f4f98","name":"thisIsSerialFecha","links":["1473c291.672e3d"],"x":1155,"y":240,"wires":[["86859365.83db7"]]},{"id":"77b519bd.fe819","type":"link in","z":"e6863b17.8f4f98","name":"thisIsSerialDíasTotal","links":["723a983d.8d506","f2bc1a68.31fd9"],"x":1155,"y":300,"wires":[["90b754ce.b54dc8"]]},{"id":"1efcbf91.dec6d8","type":"link in","z":"e6863b17.8f4f98","name":"thisIsSerialApagadoNPX","links":["591b4100.972f7"],"x":1155,"y":360,"wires":[["3ff39aed.4b54e6"]]},{"id":"9624855f.1b31d8","type":"link out","z":"e6863b17.8f4f98","name":"toSerialAño","links":["632e3340.c7777c"],"x":655,"y":120,"wires":[]},{"id":"e3b708b0.722f38","type":"link out","z":"e6863b17.8f4f98","name":"toSerialMes","links":["575ef3c9.d935b4"],"x":655,"y":240,"wires":[]},{"id":"1473c291.672e3d","type":"link out","z":"e6863b17.8f4f98","name":"toSerialFecha","links":["a80607a6.3df5c8"],"x":655,"y":620,"wires":[]},{"id":"723a983d.8d506","type":"link out","z":"e6863b17.8f4f98","name":"toSerialDíasTotal","links":["77b519bd.fe819"],"x":655,"y":340,"wires":[]},{"id":"591b4100.972f7","type":"link out","z":"e6863b17.8f4f98","name":"toSerialApagadoNPX","links":["1efcbf91.dec6d8"],"x":655,"y":440,"wires":[]},{"id":"f2bc1a68.31fd9","type":"link out","z":"e6863b17.8f4f98","name":"toSerialDíasTotal","links":["77b519bd.fe819"],"x":655,"y":840,"wires":[]},{"id":"2c6599a5.fbc966","type":"link out","z":"e6863b17.8f4f98","name":"toSerialMes","links":["575ef3c9.d935b4"],"x":655,"y":800,"wires":[]},{"id":"5ed9a6a6.2e6d88","type":"link out","z":"e6863b17.8f4f98","name":"toSerialAño","links":["632e3340.c7777c"],"x":655,"y":760,"wires":[]}]