.flows.json.backup
[{"id":"e6863b17.8f4f98","type":"tab","label":"Numeros","disabled":false,"info":""},{"id":"39aad12d.a4a37e","type":"tab","label":"Fechas","disabled":false,"info":""},{"id":"7d5f5ae.25dfca4","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"f93dd7ce.20ff88","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"146169d5.fe0886","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31aa3dd.89bc2c2","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"afa8a771.f724d8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"9d847c62.ced8f","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"792fc4c5.22850c","type":"ui_group","z":"","name":"Default","tab":"3acfa5f5.2a128a","disp":true,"width":"6","collapse":false},{"id":"b9d2707a.79eb7","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"1000"},{"id":"3acfa5f5.2a128a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1aecb296.35168d","type":"ui_group","z":"","name":"Default","tab":"1698ced3.b4e781","disp":true,"width":"6","collapse":false},{"id":"65118389.f38c8c","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"1000"},{"id":"1698ced3.b4e781","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2a5ea82f.6e1f48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ea090cd2.3f28a","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Tipo de Incidente","tooltip":"","place":"Incidente","group":"792fc4c5.22850c","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":"0","type":"str"},{"label":"Casi Accidente","value":"1","type":"str"},{"label":"Primer Auxilio","value":"2","type":"str"},{"label":"No Incapacitante","value":"3","type":"str"},{"label":"Incapacitante","value":"4","type":"str"}],"payload":"","topic":"","x":130,"y":500,"wires":[["b4fcd6c8.bf3288","2426fba0.d0b2e4"]]},{"id":"b4fcd6c8.bf3288","type":"ui_gauge","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":8,"width":0,"height":0,"gtype":"gage","title":"","label":"Gravedad","format":"","min":0,"max":"4","colors":["#00b500","#ffff00","#ff0000"],"seg1":"","seg2":"","x":110,"y":560,"wires":[]},{"id":"92413399.d74c7","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color Mes","tooltip":"","place":"Seleccionar color","group":"792fc4c5.22850c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Blanco","value":"0","type":"str"},{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":130,"y":300,"wires":[["d5da4be6.f9a148"]]},{"id":"d5da4be6.f9a148","type":"function","z":"e6863b17.8f4f98","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["5959c83e.2bcda8"]]},{"id":"5959c83e.2bcda8","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valMes = flow.get('valMes')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='m' +  valMes + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["cefbecad.31964"]]},{"id":"6d5971c4.480f2","type":"function","z":"e6863b17.8f4f98","name":"valMes","func":"var contadorMes;\n\ncontadorMes = msg.payload;\nflow.set('valMes',contadorMes);\n//flow.set('dias',0);\n\nmsg.payload = contadorMes;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["5959c83e.2bcda8"]]},{"id":"86859365.83db7","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar dia = flow.get('dia')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='f' +  dia + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["cefbecad.31964"]]},{"id":"2426fba0.d0b2e4","type":"function","z":"e6863b17.8f4f98","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["b271c4d3.1d3c88"]]},{"id":"bc5d123e.3ffa2","type":"function","z":"e6863b17.8f4f98","name":"dia","func":"\nvar contador = msg.payload;\nflow.set('dia',contador);\n//global.set(\"index\",i);\nmsg.payload = contador;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["b271c4d3.1d3c88"]]},{"id":"cefbecad.31964","type":"rbe","z":"e6863b17.8f4f98","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":890,"y":500,"wires":[["573e4f0.a4d24b"]]},{"id":"573e4f0.a4d24b","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"100","timeoutUnits":"milliseconds","rate":"2","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":500,"wires":[["bfac5ae8.88c278","70b52d95.64e874"]]},{"id":"bfac5ae8.88c278","type":"serial out","z":"e6863b17.8f4f98","name":"Arduino","serial":"b9d2707a.79eb7","x":1240,"y":500,"wires":[]},{"id":"70b52d95.64e874","type":"debug","z":"e6863b17.8f4f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":560,"wires":[]},{"id":"390337ec.fb4ac8","type":"ui_button","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":10,"width":0,"height":0,"passthru":false,"label":"Apagar Displays","tooltip":"","color":"","bgcolor":"","icon":"","payload":"s","payloadType":"str","topic":"","x":120,"y":920,"wires":[["3ff39aed.4b54e6"]]},{"id":"3ff39aed.4b54e6","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar s = flow.get('s')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='s';\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":400,"y":900,"wires":[["cefbecad.31964"]]},{"id":"d1b5c3ae.b925f","type":"ui_text_input","z":"e6863b17.8f4f98","name":"","label":"Año","tooltip":"","group":"792fc4c5.22850c","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":110,"y":80,"wires":[["66d1aeeb.90597"]]},{"id":"9d3fcae7.568998","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color Año","tooltip":"","place":"Seleccionar color","group":"792fc4c5.22850c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Blanco","value":"0","type":"str"},{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":120,"y":140,"wires":[["86d01595.2da558"]]},{"id":"86d01595.2da558","type":"function","z":"e6863b17.8f4f98","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["957a271d.967148","9d3fcae7.568998"]]},{"id":"957a271d.967148","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valAnio = flow.get('valAnio')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='a' +  valAnio + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["cefbecad.31964"]]},{"id":"66d1aeeb.90597","type":"function","z":"e6863b17.8f4f98","name":"valAnio","func":"var contadorAnio;\n\ncontadorAnio = msg.payload;\nflow.set('valAnio',contadorAnio);\n//flow.set('dias',0);\n\nmsg.payload = contadorAnio;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["957a271d.967148"]]},{"id":"67d76b29.915eb4","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Mes","tooltip":"","place":"Seleccione mes","group":"792fc4c5.22850c","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"},{"label":"9","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"}],"payload":"","topic":"","x":110,"y":240,"wires":[["6d5971c4.480f2"]]},{"id":"bb5d9d20.cb487","type":"function","z":"e6863b17.8f4f98","name":"valDiaActual","func":"var contadorDias;\n\ncontadorDias = msg.payload;\nflow.set('valDiaActual',contadorDias);\n//flow.set('dias',0);\n\nmsg.payload = contadorDias;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["90b754ce.b54dc8"]]},{"id":"90b754ce.b54dc8","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar valDiaActual = flow.get('valDiaActual')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='t' +  valDiaActual + ',' + 0 + ')'; //0 Color Blanco\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":530,"y":700,"wires":[["cefbecad.31964","952bf0f9.2ba8f"]]},{"id":"4f68e104.74689","type":"ui_date_picker","z":"e6863b17.8f4f98","name":"","label":"Fecha","group":"792fc4c5.22850c","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":380,"wires":[["8c70eb63.f48398"]]},{"id":"8c70eb63.f48398","type":"moment","z":"e6863b17.8f4f98","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":160,"y":440,"wires":[["bc5d123e.3ffa2"]]},{"id":"b271c4d3.1d3c88","type":"ui_button","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":7,"width":0,"height":0,"passthru":false,"label":"Enviar Incidente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"valColor,dia","payloadType":"str","topic":"","x":500,"y":500,"wires":[["86859365.83db7","ef76c16a.5c0e9","9ef1c024.274c1","68ed194d.c20cf8"]]},{"id":"3a24baad.cf5016","type":"inject","z":"39aad12d.a4a37e","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":280,"wires":[["c08d915f.8769f","136dc860.3ace28","1dc95fd0.dfaad"]]},{"id":"c08d915f.8769f","type":"moment","z":"39aad12d.a4a37e","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":200,"wires":[["15404efe.161531"]]},{"id":"ab5840a4.36d42","type":"function","z":"39aad12d.a4a37e","name":"Dias Accidentes","func":"var Moment =  context.global.get('moment');\n//Cuántos segmentos ocupa cada número de día del mes\nvar segmDia=[2,5,5,4,5,6,3,7,6,8,4,7,7,6,7,8,5,9,8,11,7,10,10,9,10,11,8,12,11,11,7];\n//Suma total de segmentos iluminados hasta el día actual\nvar segmDiaTotal=[2,7,12,16,21,27,30,37,43,51,55,62,69,75,82,90,95,104,112,123,130,140,150,159,169,180,188,200,211,222,229];\nvar msg2;\nvar msg3;\nvar d = global.get(\"inicio\")||0;\nvar inicio = new Moment(d);\n\n\nvar actual =  new Moment();\nvar dias = actual.diff(inicio, 'days');\nvar semanas = actual.diff(inicio, 'weeks');\n\nglobal.set('dias',dias);\nglobal.set('semanas',semanas);\n\nmsg.payload = dias;\nmsg2 = {payload: inicio.format('DD/MM/YYYY')};\nmsg3 = {payload: semanas}\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":620,"y":60,"wires":[[],[],[]]},{"id":"15404efe.161531","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"diaActual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"766d3191.74545","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"anio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"d5909b6d.a61a78","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"mes","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[[]]},{"id":"e95a5095.65fcf","type":"change","z":"39aad12d.a4a37e","name":"","rules":[{"t":"set","p":"contadorDias","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[[]]},{"id":"136dc860.3ace28","type":"moment","z":"39aad12d.a4a37e","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":280,"wires":[["766d3191.74545"]]},{"id":"1dc95fd0.dfaad","type":"moment","z":"39aad12d.a4a37e","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"M","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":360,"wires":[["d5909b6d.a61a78"]]},{"id":"74d2aadc.7d0b04","type":"comment","z":"39aad12d.a4a37e","name":"Dia","info":"","x":290,"y":160,"wires":[]},{"id":"b3557f0f.39cc8","type":"comment","z":"39aad12d.a4a37e","name":"Año","info":"","x":290,"y":240,"wires":[]},{"id":"719d897b.564078","type":"comment","z":"39aad12d.a4a37e","name":"Mes","info":"","x":290,"y":320,"wires":[]},{"id":"e3928cb5.762e7","type":"function","z":"e6863b17.8f4f98","name":"reset dias totales","func":"var accidente = flow.get('valColor')||0;\nvar valDiaActual;\nvar contadorDias;\n\ncontadorDias = msg.payload;\nif (accidente>=2)\n{\n    contadorDias = 0;\n    flow.set('valDiaActual',contadorDias);\n}\nmsg.payload = contadorDias;\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["90b754ce.b54dc8"]]},{"id":"952bf0f9.2ba8f","type":"debug","z":"e6863b17.8f4f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":740,"wires":[]},{"id":"ebc00219.d8165","type":"ui_text_input","z":"e6863b17.8f4f98","name":"","label":"Dias sin Accidentes","tooltip":"","group":"792fc4c5.22850c","order":9,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":130,"y":760,"wires":[["bb5d9d20.cb487"]]},{"id":"40845a9e.c69f14","type":"function","z":"e6863b17.8f4f98","name":"reset años","func":"var accidente = flow.get('valColor')||0;\nvar valAnio;\nvar contadorAnio;\ncontadorAnio = msg.payload;\nif (accidente>=2)\n{\n    contadorAnio = 0;\n    flow.set('valAnio',contadorAnio);\n}\nmsg.payload = contadorAnio;\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["66d1aeeb.90597"]]},{"id":"c505beed.9eda5","type":"function","z":"e6863b17.8f4f98","name":"reset meses","func":"var accidente = flow.get('valColor')||0;\nvar valMes;\nvar contadorMes;\ncontadorMes = msg.payload;\nif (accidente>=2)\n{\n    contadorMes = 0;\n    flow.set('valMes',contadorMes);\n}\nmsg.payload = contadorMes;\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":380,"wires":[[]]},{"id":"ef76c16a.5c0e9","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":580,"wires":[["e3928cb5.762e7"]]},{"id":"9ef1c024.274c1","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":360,"wires":[["c505beed.9eda5"]]},{"id":"68ed194d.c20cf8","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":180,"wires":[["40845a9e.c69f14"]]}]