.flows.json.backup
[{"id":"e6863b17.8f4f98","type":"tab","label":"Numeros","disabled":false,"info":""},{"id":"eb15b5f7.580ca8","type":"tab","label":"Numeros","disabled":false,"info":""},{"id":"7d5f5ae.25dfca4","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"f93dd7ce.20ff88","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"146169d5.fe0886","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31aa3dd.89bc2c2","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"afa8a771.f724d8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"9d847c62.ced8f","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"792fc4c5.22850c","type":"ui_group","z":"","name":"Default","tab":"3acfa5f5.2a128a","disp":true,"width":"6","collapse":false},{"id":"b9d2707a.79eb7","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"1000"},{"id":"3acfa5f5.2a128a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1aecb296.35168d","type":"ui_group","z":"","name":"Default","tab":"1698ced3.b4e781","disp":true,"width":"6","collapse":false},{"id":"65118389.f38c8c","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"1000"},{"id":"1698ced3.b4e781","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ea090cd2.3f28a","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Tipo de Incidente","tooltip":"","place":"Incidente","group":"792fc4c5.22850c","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":"0","type":"str"},{"label":"Casi Accidente","value":"1","type":"str"},{"label":"Primer Auxilio","value":"2","type":"str"},{"label":"No Incapacitante","value":"3","type":"str"},{"label":"Incapacitante","value":"4","type":"str"}],"payload":"","topic":"","x":130,"y":580,"wires":[["b4fcd6c8.bf3288","2426fba0.d0b2e4"]]},{"id":"b4fcd6c8.bf3288","type":"ui_gauge","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":7,"width":0,"height":0,"gtype":"gage","title":"","label":"Gravedad","format":"","min":0,"max":"4","colors":["#00b500","#ffff00","#ff0000"],"seg1":"","seg2":"","x":110,"y":640,"wires":[]},{"id":"92413399.d74c7","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color Mes","tooltip":"","place":"Seleccionar color","group":"792fc4c5.22850c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":130,"y":360,"wires":[["d5da4be6.f9a148"]]},{"id":"d5da4be6.f9a148","type":"function","z":"e6863b17.8f4f98","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["5959c83e.2bcda8"]]},{"id":"5959c83e.2bcda8","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valMes = flow.get('valMes')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='m' +  valMes + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["cefbecad.31964"]]},{"id":"6d5971c4.480f2","type":"function","z":"e6863b17.8f4f98","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('valMes',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["5959c83e.2bcda8"]]},{"id":"86859365.83db7","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar dia = flow.get('dia')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='f' +  dia + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["cefbecad.31964"]]},{"id":"2426fba0.d0b2e4","type":"function","z":"e6863b17.8f4f98","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["86859365.83db7"]]},{"id":"bc5d123e.3ffa2","type":"function","z":"e6863b17.8f4f98","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('dia',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["86859365.83db7"]]},{"id":"cefbecad.31964","type":"rbe","z":"e6863b17.8f4f98","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":580,"wires":[["573e4f0.a4d24b"]]},{"id":"573e4f0.a4d24b","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":580,"wires":[["bfac5ae8.88c278","70b52d95.64e874"]]},{"id":"bfac5ae8.88c278","type":"serial out","z":"e6863b17.8f4f98","name":"Arduino","serial":"b9d2707a.79eb7","x":1120,"y":580,"wires":[]},{"id":"70b52d95.64e874","type":"debug","z":"e6863b17.8f4f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":640,"wires":[]},{"id":"390337ec.fb4ac8","type":"ui_button","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":9,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"s","payloadType":"str","topic":"","x":100,"y":920,"wires":[["3ff39aed.4b54e6"]]},{"id":"3ff39aed.4b54e6","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar s = flow.get('s')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='s';\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":400,"y":900,"wires":[["cefbecad.31964"]]},{"id":"d1b5c3ae.b925f","type":"ui_text_input","z":"e6863b17.8f4f98","name":"","label":"A単o","tooltip":"","group":"792fc4c5.22850c","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":110,"y":80,"wires":[["66d1aeeb.90597"]]},{"id":"9d3fcae7.568998","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color A単o","tooltip":"","place":"Seleccionar color","group":"792fc4c5.22850c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":120,"y":140,"wires":[["86d01595.2da558"]]},{"id":"86d01595.2da558","type":"function","z":"e6863b17.8f4f98","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["957a271d.967148"]]},{"id":"957a271d.967148","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valAnio = flow.get('valAnio')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='a' +  valAnio + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["cefbecad.31964"]]},{"id":"66d1aeeb.90597","type":"function","z":"e6863b17.8f4f98","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('valAnio',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["957a271d.967148"]]},{"id":"67d76b29.915eb4","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Mes","tooltip":"","place":"Seleccione mes","group":"792fc4c5.22850c","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"},{"label":"9","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"}],"payload":"","topic":"","x":110,"y":300,"wires":[["6d5971c4.480f2"]]},{"id":"4cc9b09c.5221d","type":"ui_numeric","z":"e6863b17.8f4f98","name":"","label":"Dias Sin Accidentes","tooltip":"","group":"792fc4c5.22850c","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"9999","step":1,"x":140,"y":760,"wires":[["bb5d9d20.cb487"]]},{"id":"bb5d9d20.cb487","type":"function","z":"e6863b17.8f4f98","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('valDiaActual',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":330,"y":760,"wires":[["90b754ce.b54dc8"]]},{"id":"90b754ce.b54dc8","type":"function","z":"e6863b17.8f4f98","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar valDiaActual = flow.get('valDiaActual')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='t' +  valDiaActual + ',' + 90 + ')';\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["cefbecad.31964"]]},{"id":"47a928d9.404098","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Dia","tooltip":"","place":"Seleccione mes","group":"792fc4c5.22850c","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"},{"label":"9","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"}],"payload":"","topic":"","x":90,"y":520,"wires":[["bc5d123e.3ffa2"]]},{"id":"127dc4c4.d6e2eb","type":"ui_dropdown","z":"eb15b5f7.580ca8","name":"","label":"Tipo de Incidente","tooltip":"","place":"Incidente","group":"1aecb296.35168d","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":"0","type":"str"},{"label":"Casi Accidente","value":"1","type":"str"},{"label":"Primer Auxilio","value":"2","type":"str"},{"label":"No Incapacitante","value":"3","type":"str"},{"label":"Incapacitante","value":"4","type":"str"}],"payload":"","topic":"","x":130,"y":580,"wires":[["a4401941.a5e228","5f26d041.a21f1"]]},{"id":"a4401941.a5e228","type":"ui_gauge","z":"eb15b5f7.580ca8","name":"","group":"1aecb296.35168d","order":7,"width":0,"height":0,"gtype":"gage","title":"","label":"Gravedad","format":"","min":0,"max":"4","colors":["#00b500","#ffff00","#ff0000"],"seg1":"","seg2":"","x":110,"y":640,"wires":[]},{"id":"691809be.e20608","type":"ui_dropdown","z":"eb15b5f7.580ca8","name":"","label":"Color Mes","tooltip":"","place":"Seleccionar color","group":"1aecb296.35168d","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":130,"y":360,"wires":[["4b25fb0d.aff484"]]},{"id":"4b25fb0d.aff484","type":"function","z":"eb15b5f7.580ca8","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["bbfcb133.c6a86"]]},{"id":"bbfcb133.c6a86","type":"function","z":"eb15b5f7.580ca8","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valMes = flow.get('valMes')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='m' +  valMes + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["910f0005.729bb"]]},{"id":"9adde4d4.6ecf68","type":"function","z":"eb15b5f7.580ca8","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('valMes',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["bbfcb133.c6a86"]]},{"id":"e57ba988.d05e08","type":"function","z":"eb15b5f7.580ca8","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar dia = flow.get('dia')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='f' +  dia + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["910f0005.729bb"]]},{"id":"5f26d041.a21f1","type":"function","z":"eb15b5f7.580ca8","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["e57ba988.d05e08"]]},{"id":"cca84cee.1e27e","type":"function","z":"eb15b5f7.580ca8","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('dia',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["e57ba988.d05e08"]]},{"id":"910f0005.729bb","type":"rbe","z":"eb15b5f7.580ca8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":580,"wires":[["115ab89a.ea5a47"]]},{"id":"115ab89a.ea5a47","type":"delay","z":"eb15b5f7.580ca8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":580,"wires":[["f71a4cee.a84e6","acf03a95.b48bb8"]]},{"id":"f71a4cee.a84e6","type":"serial out","z":"eb15b5f7.580ca8","name":"Arduino","serial":"65118389.f38c8c","x":1120,"y":580,"wires":[]},{"id":"acf03a95.b48bb8","type":"debug","z":"eb15b5f7.580ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":640,"wires":[]},{"id":"4c14fc30.b13a14","type":"ui_button","z":"eb15b5f7.580ca8","name":"","group":"1aecb296.35168d","order":9,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"s","payloadType":"str","topic":"","x":100,"y":920,"wires":[["d7f85dc.28e67a"]]},{"id":"d7f85dc.28e67a","type":"function","z":"eb15b5f7.580ca8","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar s = flow.get('s')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='s';\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":400,"y":900,"wires":[["910f0005.729bb"]]},{"id":"bfba6dfd.e2af","type":"ui_text_input","z":"eb15b5f7.580ca8","name":"","label":"A単o","tooltip":"","group":"1aecb296.35168d","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":110,"y":80,"wires":[["a69531b5.d2e1d"]]},{"id":"733da184.7ce43","type":"ui_dropdown","z":"eb15b5f7.580ca8","name":"","label":"Color A単o","tooltip":"","place":"Seleccionar color","group":"1aecb296.35168d","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":120,"y":140,"wires":[["c6feb215.2b31b"]]},{"id":"c6feb215.2b31b","type":"function","z":"eb15b5f7.580ca8","name":"color","func":"var valColor = flow.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nflow.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["bad7061e.6dc7a8"]]},{"id":"bad7061e.6dc7a8","type":"function","z":"eb15b5f7.580ca8","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = flow.get('valColor')||0;\nvar valAnio = flow.get('valAnio')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='a' +  valAnio + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["910f0005.729bb"]]},{"id":"a69531b5.d2e1d","type":"function","z":"eb15b5f7.580ca8","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('valAnio',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["bad7061e.6dc7a8"]]},{"id":"c59e43b3.f355e","type":"ui_dropdown","z":"eb15b5f7.580ca8","name":"","label":"Mes","tooltip":"","place":"Seleccione mes","group":"1aecb296.35168d","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"},{"label":"9","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"}],"payload":"","topic":"","x":110,"y":300,"wires":[["9adde4d4.6ecf68"]]},{"id":"b0ba6d0.f6bf19","type":"ui_numeric","z":"eb15b5f7.580ca8","name":"","label":"Dias Sin Accidentes","tooltip":"","group":"1aecb296.35168d","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"9999","step":1,"x":140,"y":760,"wires":[["783be36d.e4869c"]]},{"id":"783be36d.e4869c","type":"function","z":"eb15b5f7.580ca8","name":"num","func":"var contador;\n\ncontador = msg.payload;\nflow.set('valDiaActual',contador);\n//flow.set('dias',0);\n\nmsg.payload = contador;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":330,"y":760,"wires":[["279ecaaa.35ce56"]]},{"id":"279ecaaa.35ce56","type":"function","z":"eb15b5f7.580ca8","name":"Selector_Display","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar valDiaActual = flow.get('valDiaActual')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='t' +  valDiaActual + ',' + 90 + ')';\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["910f0005.729bb"]]},{"id":"fc4b4f47.e0476","type":"ui_dropdown","z":"eb15b5f7.580ca8","name":"","label":"Dia","tooltip":"","place":"Seleccione mes","group":"1aecb296.35168d","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"},{"label":"9","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"}],"payload":"","topic":"","x":90,"y":520,"wires":[["cca84cee.1e27e"]]}]