flows.json
[{"id":"91987502.c44518","type":"tab","label":"[UI] Pantalla Principal","disabled":false,"info":""},{"id":"e6863b17.8f4f98","type":"tab","label":"[UI] Registro Mensual","disabled":false,"info":""},{"id":"9cfa07f0.e9ab28","type":"tab","label":"To Serial ESP","disabled":false,"info":""},{"id":"e073d595.09a098","type":"tab","label":"Apagar Rasp","disabled":false,"info":""},{"id":"f93dd7ce.20ff88","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"146169d5.fe0886","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31aa3dd.89bc2c2","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"afa8a771.f724d8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"9d847c62.ced8f","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"b9d2707a.79eb7","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"1000"},{"id":"2a5ea82f.6e1f48","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3acfa5f5.2a128a","type":"ui_tab","z":"","name":"Registro Mensual","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"792fc4c5.22850c","type":"ui_group","z":"","name":"Fechador Accidentes","tab":"3acfa5f5.2a128a","disp":true,"width":"15","collapse":false},{"id":"31abe080.0e165","type":"mqtt-broker","z":"","name":"","broker":"35.184.79.84","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"514b0d2f.3730f4","type":"ui_spacer","name":"spacer","group":"1aecb296.35168d","order":1,"width":1,"height":1},{"id":"303ebc11.87ad44","type":"ui_group","z":"","name":"Conteo desde el último accidente","tab":"3acfa5f5.2a128a","disp":true,"width":15,"collapse":false},{"id":"b937733c.4dfb6","type":"ui_group","z":"","name":"Sistema","tab":"3acfa5f5.2a128a","disp":true,"width":"15","collapse":true},{"id":"248abb6c.a54a74","type":"ui_tab","z":"","name":"Pantalla Principal","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b4664949.3452b8","type":"ui_group","z":"","name":"Registro Diario","tab":"248abb6c.a54a74","disp":true,"width":15,"collapse":false},{"id":"bd736dcd.729a7","type":"ui_group","z":"","name":"Conteos desde el último accidente","tab":"248abb6c.a54a74","disp":true,"width":15,"collapse":false},{"id":"d5da4be6.f9a148","type":"function","z":"e6863b17.8f4f98","name":"global Set Mes","func":"var valColor = global.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nglobal.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":300,"wires":[["e3b708b0.722f38"]]},{"id":"6d5971c4.480f2","type":"function","z":"e6863b17.8f4f98","name":"global Set Mes","func":"var contadorMes;\n\ncontadorMes = msg.payload;\nglobal.set('valMes',contadorMes);\n//flow.set('dias',0);\n\nmsg.payload = contadorMes;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":820,"y":240,"wires":[["e3b708b0.722f38"]]},{"id":"2426fba0.d0b2e4","type":"function","z":"e6863b17.8f4f98","name":"global Set Color Fecha","func":"var valColor = global.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nglobal.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":600,"wires":[["b271c4d3.1d3c88","29aeccea.eb5ea4"]]},{"id":"bc5d123e.3ffa2","type":"function","z":"e6863b17.8f4f98","name":"global Set Fecha","func":"\nvar contador = msg.payload;\nglobal.set('dia',contador);\n//global.set(\"index\",i);\nmsg.payload = contador;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":540,"wires":[["b271c4d3.1d3c88","29aeccea.eb5ea4"]]},{"id":"86d01595.2da558","type":"function","z":"e6863b17.8f4f98","name":"global Set Año","func":"var valColor = global.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nglobal.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":180,"wires":[["9624855f.1b31d8"]]},{"id":"66d1aeeb.90597","type":"function","z":"e6863b17.8f4f98","name":"global Set Año","func":"var contadorAnio;\n\ncontadorAnio = msg.payload;\nglobal.set('valAnio',contadorAnio);\n//flow.set('dias',0);\n\nmsg.payload = contadorAnio;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["9624855f.1b31d8","1cbb3620.fa8c6a"]]},{"id":"bb5d9d20.cb487","type":"function","z":"e6863b17.8f4f98","name":"global Set Días Total","func":"var contadorDias;\n\ncontadorDias = msg.payload;\nglobal.set('valDiaActual',contadorDias);\n//flow.set('dias',0);\n\nmsg.payload = contadorDias;\n\nreturn msg; \n\n","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["723a983d.8d506"]]},{"id":"e3928cb5.762e7","type":"function","z":"e6863b17.8f4f98","name":"global reset dias totales","func":"var accidente = global.get('valColor')||0;\nvar valDiaActual;\nvar contadorDias;\n\ncontadorDias = msg.payload;\nif (accidente>=2)\n{\n    contadorDias = 0;\n    global.set('valDiaActual',contadorDias);\n}\nmsg.payload = contadorDias;\nreturn msg;\n","outputs":1,"noerr":0,"x":1310,"y":700,"wires":[["f2bc1a68.31fd9"]]},{"id":"40845a9e.c69f14","type":"function","z":"e6863b17.8f4f98","name":"global reset años","func":"var accidente = global.get('valColor')||0;\nvar valAnio;\nvar contadorAnio;\ncontadorAnio = msg.payload;\nif (accidente>=2)\n{\n    contadorAnio = 0;\n    global.set('valAnio',contadorAnio);\n}\nmsg.payload = contadorAnio;\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":620,"wires":[["5ed9a6a6.2e6d88"]]},{"id":"c505beed.9eda5","type":"function","z":"e6863b17.8f4f98","name":"global reset meses","func":"var accidente = global.get('valColor')||0;\nvar valMes;\nvar contadorMes;\ncontadorMes = msg.payload;\nif (accidente>=2)\n{\n    contadorMes = 0;\n    global.set('valMes',contadorMes);\n}\nmsg.payload = contadorMes;\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":660,"wires":[["2c6599a5.fbc966"]]},{"id":"ef76c16a.5c0e9","type":"delay","z":"e6863b17.8f4f98","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":660,"wires":[["e3928cb5.762e7","c505beed.9eda5","40845a9e.c69f14"]]},{"id":"b271c4d3.1d3c88","type":"ui_button","z":"e6863b17.8f4f98","name":"","group":"792fc4c5.22850c","order":3,"width":0,"height":0,"passthru":false,"label":"Registrar Incidente","tooltip":"","color":"","bgcolor":"","icon":"","payload":"valColor,dia","payloadType":"str","topic":"","x":1110,"y":540,"wires":[["ef76c16a.5c0e9","1473c291.672e3d"]]},{"id":"ea090cd2.3f28a","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Tipo de Incidente","tooltip":"","place":"Incidente","group":"792fc4c5.22850c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":"0","type":"str"},{"label":"Casi Accidente","value":"1","type":"str"},{"label":"Primer Auxilio","value":"2","type":"str"},{"label":"No Incapacitante","value":"3","type":"str"},{"label":"Incapacitante","value":"4","type":"str"}],"payload":"","topic":"","x":610,"y":600,"wires":[["2426fba0.d0b2e4"]]},{"id":"92413399.d74c7","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color Mes","tooltip":"","place":"Seleccionar color","group":"303ebc11.87ad44","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Blanco","value":"0","type":"str"},{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":580,"y":300,"wires":[["d5da4be6.f9a148"]]},{"id":"9d3fcae7.568998","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Color Año","tooltip":"","place":"Seleccionar color","group":"303ebc11.87ad44","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Blanco","value":"0","type":"str"},{"label":"Rojo","value":"1","type":"str"},{"label":"Verde","value":"90","type":"str"},{"label":"Azul","value":"170","type":"str"},{"label":"Amarillo","value":"30","type":"str"}],"payload":"","topic":"","x":580,"y":180,"wires":[["86d01595.2da558"]]},{"id":"67d76b29.915eb4","type":"ui_dropdown","z":"e6863b17.8f4f98","name":"","label":"Meses sin Accidentes","tooltip":"","place":"Seleccione mes","group":"303ebc11.87ad44","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"},{"label":"9","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"}],"payload":"","topic":"","x":620,"y":240,"wires":[["6d5971c4.480f2"]]},{"id":"d1b5c3ae.b925f","type":"ui_text_input","z":"e6863b17.8f4f98","name":"","label":"Años sin accidentes:","tooltip":"","group":"303ebc11.87ad44","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":620,"y":120,"wires":[["66d1aeeb.90597","1cbb3620.fa8c6a"]]},{"id":"ebc00219.d8165","type":"ui_text_input","z":"e6863b17.8f4f98","name":"","label":"Dias sin Accidentes","tooltip":"","group":"303ebc11.87ad44","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":610,"y":360,"wires":[["bb5d9d20.cb487"]]},{"id":"4f68e104.74689","type":"ui_date_picker","z":"e6863b17.8f4f98","name":"","label":"Fecha","group":"792fc4c5.22850c","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":570,"y":540,"wires":[["8c70eb63.f48398"]]},{"id":"8c70eb63.f48398","type":"moment","z":"e6863b17.8f4f98","name":"Formato","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":700,"y":540,"wires":[["bc5d123e.3ffa2"]]},{"id":"9624855f.1b31d8","type":"link out","z":"e6863b17.8f4f98","name":"toSerialAño","links":["632e3340.c7777c","b3296459.3f4dd"],"x":1135,"y":140,"wires":[]},{"id":"e3b708b0.722f38","type":"link out","z":"e6863b17.8f4f98","name":"toSerialMes","links":["575ef3c9.d935b4","5535c068.dd855"],"x":1135,"y":260,"wires":[]},{"id":"1473c291.672e3d","type":"link out","z":"e6863b17.8f4f98","name":"toSerialFecha","links":["a80607a6.3df5c8","933f37ea.a772c"],"x":1335,"y":560,"wires":[]},{"id":"723a983d.8d506","type":"link out","z":"e6863b17.8f4f98","name":"toSerialDíasTotal","links":["77b519bd.fe819","2a896679.3eec12"],"x":1135,"y":360,"wires":[]},{"id":"f2bc1a68.31fd9","type":"link out","z":"e6863b17.8f4f98","name":"toSerialDíasTotal","links":["77b519bd.fe819","2a896679.3eec12"],"x":1475,"y":700,"wires":[]},{"id":"2c6599a5.fbc966","type":"link out","z":"e6863b17.8f4f98","name":"toSerialMes","links":["575ef3c9.d935b4","5535c068.dd855"],"x":1475,"y":660,"wires":[]},{"id":"5ed9a6a6.2e6d88","type":"link out","z":"e6863b17.8f4f98","name":"toSerialAño","links":["632e3340.c7777c","b3296459.3f4dd"],"x":1475,"y":620,"wires":[]},{"id":"11194f05.2a6bb9","type":"function","z":"9cfa07f0.e9ab28","name":"Formato Serial Mes","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = global.get('valColor')||0;\nvar valMes = global.get('valMes')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='m' +  valMes + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":214,"y":172,"wires":[["b30c5dec.309b4"]]},{"id":"f9497700.1ebd2","type":"function","z":"9cfa07f0.e9ab28","name":"Formato Serial Fecha","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = global.get('valColor')||0;\nvar dia = global.get('dia')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='f' +  dia + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":224,"y":232,"wires":[["b30c5dec.309b4"]]},{"id":"b30c5dec.309b4","type":"rbe","z":"9cfa07f0.e9ab28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":494,"y":232,"wires":[["ff4f4d9.3071cb"]]},{"id":"ff4f4d9.3071cb","type":"delay","z":"9cfa07f0.e9ab28","name":"","pauseType":"rate","timeout":"100","timeoutUnits":"milliseconds","rate":"2","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":634,"y":232,"wires":[["71364868.31ecc","ac6f9802.438328"]]},{"id":"71364868.31ecc","type":"serial out","z":"9cfa07f0.e9ab28","name":"Arduino","serial":"b9d2707a.79eb7","x":804,"y":232,"wires":[]},{"id":"ac6f9802.438328","type":"debug","z":"9cfa07f0.e9ab28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":854,"y":292,"wires":[]},{"id":"47451980.4c8cc","type":"function","z":"9cfa07f0.e9ab28","name":"Formato Serial Apagado","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar s = global.get('s')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='s';\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":234,"y":352,"wires":[["b30c5dec.309b4"]]},{"id":"a514d494.b264d8","type":"function","z":"9cfa07f0.e9ab28","name":"Formato Serial Año","func":"var convertidor;\n//var Moment =  context.global.get('moment');\nvar valColor = global.get('valColor')||0;\nvar valAnio = global.get('valAnio')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\nvar msg3 = {payload: valColor}\n\nconvertidor ='a' +  valAnio + ',' + valColor + ')';\nmsg = {payload: convertidor};\n\nreturn [msg,msg3];","outputs":1,"noerr":0,"x":214,"y":112,"wires":[["b30c5dec.309b4"]]},{"id":"22dfd485.daf32c","type":"function","z":"9cfa07f0.e9ab28","name":"Formato Serial Días Totales","func":"var convertidor;\n//var Moment =  context.global.get('moment');\n//var valColor = flow.get('valColor')||0;\nvar valDiaActual = global.get('valDiaActual')||0;\n//var fecha = new Moment();\n//global.set('fecha',fecha.format('DD/MM/YYYY, HH:mm:ss'));\n//var msg2 = {payload: fecha.format('DD/MM/YYYY, HH:mm:ss')};\n//var msg3 = {payload: valColor}\n\nconvertidor ='t' +  valDiaActual + ',' + 0 + ')'; //0 Color Blanco\nmsg = {payload: convertidor};\n\nreturn [msg];","outputs":1,"noerr":0,"x":244,"y":292,"wires":[["b30c5dec.309b4"]]},{"id":"b3296459.3f4dd","type":"link in","z":"9cfa07f0.e9ab28","name":"thisIsSerialAño","links":["9624855f.1b31d8","5ed9a6a6.2e6d88","c98ed79a.efb948"],"x":79,"y":112,"wires":[["a514d494.b264d8"]]},{"id":"5535c068.dd855","type":"link in","z":"9cfa07f0.e9ab28","name":"thisIsSerialMes","links":["e3b708b0.722f38","2c6599a5.fbc966","41aa6456.8b2cec"],"x":79,"y":172,"wires":[["11194f05.2a6bb9"]]},{"id":"933f37ea.a772c","type":"link in","z":"9cfa07f0.e9ab28","name":"thisIsSerialFecha","links":["1473c291.672e3d","2e342fe9.1fb96","ff9d9c7.75d2e6"],"x":79,"y":232,"wires":[["f9497700.1ebd2"]]},{"id":"2a896679.3eec12","type":"link in","z":"9cfa07f0.e9ab28","name":"thisIsSerialDíasTotal","links":["723a983d.8d506","f2bc1a68.31fd9","457815a4.fe49ec"],"x":79,"y":292,"wires":[["22dfd485.daf32c"]]},{"id":"13f68980.3a5f37","type":"link in","z":"9cfa07f0.e9ab28","name":"thisIsSerialApagadoNPX","links":["591b4100.972f7","48602eb1.8d76e","6d84e891.cca248"],"x":79,"y":352,"wires":[["47451980.4c8cc"]]},{"id":"9e7e7275.1be4d","type":"mqtt in","z":"e6863b17.8f4f98","name":"","topic":"cruzdeseguridad/anio/num","qos":"2","datatype":"auto","broker":"31abe080.0e165","x":150,"y":120,"wires":[["d1b5c3ae.b925f"]]},{"id":"41d4d9a2.cde868","type":"exec","z":"e073d595.09a098","command":"sudo halt ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":180,"wires":[[],[],[]]},{"id":"9e2d4100.de4f9","type":"inject","z":"e073d595.09a098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":180,"wires":[["41d4d9a2.cde868"]]},{"id":"cf3bbcb9.89e47","type":"mqtt in","z":"e6863b17.8f4f98","name":"","topic":"cruzdeseguridad/mes/num","qos":"2","datatype":"auto","broker":"31abe080.0e165","x":150,"y":240,"wires":[["67d76b29.915eb4"]]},{"id":"4fcf35d7.4028dc","type":"mqtt in","z":"e6863b17.8f4f98","name":"","topic":"cruzdeseguridad/diastotal/num","qos":"2","datatype":"auto","broker":"31abe080.0e165","x":170,"y":360,"wires":[["ebc00219.d8165"]]},{"id":"264cea82.cc7bd6","type":"mqtt in","z":"e6863b17.8f4f98","name":"","topic":"cruzdeseguridad/anio/col","qos":"2","datatype":"auto","broker":"31abe080.0e165","x":150,"y":180,"wires":[["9d3fcae7.568998"]]},{"id":"a94850e7.c178f","type":"mqtt in","z":"e6863b17.8f4f98","name":"","topic":"cruzdeseguridad/mes/col","qos":"2","datatype":"auto","broker":"31abe080.0e165","x":150,"y":300,"wires":[["92413399.d74c7"]]},{"id":"cdb76b94.08bde8","type":"mqtt in","z":"e6863b17.8f4f98","name":"","topic":"cruzdeseguridad/fecha/col","qos":"2","datatype":"auto","broker":"31abe080.0e165","x":150,"y":700,"wires":[["ea090cd2.3f28a","1473c291.672e3d","bddc8c26.524d5"]]},{"id":"bddc8c26.524d5","type":"moment","z":"e6863b17.8f4f98","name":"Get Día Actual","topic":"","input":"","inputType":"date","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":580,"y":480,"wires":[["bc5d123e.3ffa2"]]},{"id":"63ee4a49.cf2bc4","type":"comment","z":"e6863b17.8f4f98","name":"Desde MQTT sólo modificarás la fecha actual.","info":"","x":210,"y":540,"wires":[]},{"id":"685db9f.a0ad948","type":"ui_button","z":"e6863b17.8f4f98","name":"","group":"b937733c.4dfb6","order":1,"width":0,"height":0,"passthru":false,"label":"Apagar Displays","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"s","payloadType":"str","topic":"","x":620,"y":800,"wires":[["6d84e891.cca248"]]},{"id":"6d84e891.cca248","type":"link out","z":"e6863b17.8f4f98","name":"toSerialApagadoNPX","links":["1efcbf91.dec6d8","13f68980.3a5f37"],"x":755,"y":800,"wires":[]},{"id":"30d54ded.09a4d2","type":"comment","z":"e6863b17.8f4f98","name":"Sección dedicada al fechador de accidentes.","info":"","x":210,"y":500,"wires":[]},{"id":"71a926c8.9aa608","type":"function","z":"91987502.c44518","name":"global Set Color Fecha","func":"var valColor = global.get('valColor')||0;\nvalColor = msg.payload.replace(/[rgb()\\s]/g,\"\");\nglobal.set('valColor',valColor);\n\nmsg = {payload: valColor};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[[]]},{"id":"a44be893.d66828","type":"function","z":"91987502.c44518","name":"global Set Fecha","func":"\nvar contador = msg.payload;\nglobal.set('dia',contador);\n//global.set(\"index\",i);\nmsg.payload = contador;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[[]]},{"id":"b10944ca.26b748","type":"function","z":"91987502.c44518","name":"global reset dias totales","func":"var accidente = global.get('valColor')||0;\nvar valDiaActual;\nvar contadorDias;\n\ncontadorDias = msg.payload;\nif (accidente>=2)\n{\n    contadorDias = 0;\n    global.set('valDiaActual',contadorDias);\n}\nmsg.payload = contadorDias;\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["457815a4.fe49ec"]]},{"id":"e73981e5.0f14e","type":"function","z":"91987502.c44518","name":"global reset años","func":"var accidente = global.get('valColor')||0;\nvar valAnio;\nvar contadorAnio;\ncontadorAnio = msg.payload;\nif (accidente>=2)\n{\n    contadorAnio = 0;\n    global.set('valAnio',contadorAnio);\n}\nmsg.payload = contadorAnio;\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["c98ed79a.efb948"]]},{"id":"61fb1a70.35eda4","type":"function","z":"91987502.c44518","name":"global reset meses","func":"var accidente = global.get('valColor')||0;\nvar valMes;\nvar contadorMes;\ncontadorMes = msg.payload;\nif (accidente>=2)\n{\n    contadorMes = 0;\n    global.set('valMes',contadorMes);\n}\nmsg.payload = contadorMes;\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":300,"wires":[["41aa6456.8b2cec"]]},{"id":"bf439473.435568","type":"delay","z":"91987502.c44518","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":300,"wires":[["b10944ca.26b748","61fb1a70.35eda4","e73981e5.0f14e"]]},{"id":"b98970ce.a999d","type":"ui_button","z":"91987502.c44518","name":"Registro","group":"b4664949.3452b8","order":3,"width":0,"height":0,"passthru":false,"label":"Registrar Incidente del día actual","tooltip":"","color":"","bgcolor":"dark green","icon":"","payload":"valColor,dia","payloadType":"str","topic":"","x":100,"y":300,"wires":[["bf439473.435568","2e342fe9.1fb96","f7f4ec17.16c49"]]},{"id":"af04a953.ed9898","type":"ui_dropdown","z":"91987502.c44518","name":"","label":"Tipo de Incidente","tooltip":"","place":"Incidente","group":"b4664949.3452b8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":"0","type":"str"},{"label":"Casi Accidente","value":"1","type":"str"},{"label":"Primer Auxilio","value":"2","type":"str"},{"label":"No Incapacitante","value":"3","type":"str"},{"label":"Incapacitante","value":"4","type":"str"}],"payload":"","topic":"","x":130,"y":220,"wires":[["71a926c8.9aa608"]]},{"id":"2e342fe9.1fb96","type":"link out","z":"91987502.c44518","name":"toSerialFecha","links":["a80607a6.3df5c8","933f37ea.a772c"],"x":295,"y":280,"wires":[]},{"id":"457815a4.fe49ec","type":"link out","z":"91987502.c44518","name":"toSerialDíasTotal","links":["77b519bd.fe819","2a896679.3eec12"],"x":895,"y":340,"wires":[]},{"id":"41aa6456.8b2cec","type":"link out","z":"91987502.c44518","name":"toSerialMes","links":["575ef3c9.d935b4","5535c068.dd855"],"x":895,"y":300,"wires":[]},{"id":"c98ed79a.efb948","type":"link out","z":"91987502.c44518","name":"toSerialAño","links":["632e3340.c7777c","b3296459.3f4dd"],"x":895,"y":260,"wires":[]},{"id":"f7f4ec17.16c49","type":"moment","z":"91987502.c44518","name":"Get Día Actual","topic":"","input":"","inputType":"date","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":160,"y":400,"wires":[["a44be893.d66828"]]},{"id":"b3cc6ee3.d828f","type":"comment","z":"91987502.c44518","name":"Aquí sólo modificarás la fecha actual.","info":"","x":210,"y":80,"wires":[]},{"id":"ba854ee.8392cb","type":"ui_text","z":"91987502.c44518","group":"b4664949.3452b8","order":1,"width":0,"height":0,"name":"","label":"Fecha Actual:","format":"{{msg.payload}}","layout":"col-center","x":500,"y":140,"wires":[]},{"id":"7d7b6b1b.b680f4","type":"moment","z":"91987502.c44518","name":"Get Día Actual","topic":"","input":"","inputType":"date","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":310,"y":140,"wires":[["ba854ee.8392cb"]]},{"id":"469571.715f7a9","type":"inject","z":"91987502.c44518","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["7d7b6b1b.b680f4"]]},{"id":"d5cdd37b.fa40f","type":"ui_text","z":"91987502.c44518","group":"bd736dcd.729a7","order":1,"width":0,"height":0,"name":"","label":"Días:","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":500,"wires":[]},{"id":"355c2f16.70f8e","type":"inject","z":"91987502.c44518","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":500,"wires":[["78aadeea.c43b4"]]},{"id":"78aadeea.c43b4","type":"change","z":"91987502.c44518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"valDiaActual","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":500,"wires":[["d5cdd37b.fa40f"]]},{"id":"3a1283be.6fe10c","type":"ui_text","z":"91987502.c44518","group":"bd736dcd.729a7","order":2,"width":0,"height":0,"name":"","label":"Meses:","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":560,"wires":[]},{"id":"1f70f188.5f6d5e","type":"inject","z":"91987502.c44518","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":560,"wires":[["8d0f4b51.4d4868"]]},{"id":"8d0f4b51.4d4868","type":"change","z":"91987502.c44518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"valMes","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[["3a1283be.6fe10c"]]},{"id":"eab54b7a.ab8718","type":"ui_text","z":"91987502.c44518","group":"bd736dcd.729a7","order":3,"width":0,"height":0,"name":"","label":"Años:","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":620,"wires":[]},{"id":"f3846b08.3e6d18","type":"inject","z":"91987502.c44518","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":620,"wires":[["61f2f2f2.25c94c"]]},{"id":"61f2f2f2.25c94c","type":"change","z":"91987502.c44518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"valAnio","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":620,"wires":[["eab54b7a.ab8718"]]},{"id":"1cbb3620.fa8c6a","type":"debug","z":"e6863b17.8f4f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":80,"wires":[]},{"id":"29aeccea.eb5ea4","type":"debug","z":"e6863b17.8f4f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":460,"wires":[]}]