flows.json
[{"id":"5f1859a0.bf27f8","type":"tab","label":"Numeros","disabled":false,"info":""},{"id":"ef0f8e36.ecbe2","type":"tab","label":"Fechas","disabled":false,"info":""},{"id":"c8a67420.af6ee8","type":"tab","label":"Color Fechas","disabled":false,"info":""},{"id":"7d5f5ae.25dfca4","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"f93dd7ce.20ff88","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"146169d5.fe0886","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31aa3dd.89bc2c2","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"afa8a771.f724d8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"9d847c62.ced8f","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"4dffa75f.101f58","type":"inject","z":"ef0f8e36.ecbe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":280,"wires":[["c2d511d2.9eed2","18968fdb.9dd6d","12155cbf.94a303"]]},{"id":"772737f0.a46678","type":"function","z":"ef0f8e36.ecbe2","name":"Dias Accidentes","func":"var Moment =  context.global.get('moment');\n//Cuántos segmentos ocupa cada número de día del mes\nvar segmDia=[2,5,5,4,5,6,3,7,6,8,4,7,7,6,7,8,5,9,8,11,7,10,10,9,10,11,8,12,11,11,7];\n//Suma total de segmentos iluminados hasta el día actual\nvar segmDiaTotal=[2,7,12,16,21,27,30,37,43,51,55,62,69,75,82,90,95,104,112,123,130,140,150,159,169,180,188,200,211,222,229];\nvar msg2;\nvar msg3;\nvar d = global.get(\"inicio\")||0;\nvar inicio = new Moment(d);\n\n\nvar actual =  new Moment();\nvar dias = actual.diff(inicio, 'days');\nvar semanas = actual.diff(inicio, 'weeks');\n\nglobal.set('dias',dias);\nglobal.set('semanas',semanas);\n\nmsg.payload = dias;\nmsg2 = {payload: inicio.format('DD/MM/YYYY')};\nmsg3 = {payload: semanas}\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":620,"y":60,"wires":[[],[],[]]},{"id":"990c8c5a.64d4a","type":"change","z":"ef0f8e36.ecbe2","name":"","rules":[{"t":"set","p":"diaActual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"db90dc8.17c9a2","type":"change","z":"ef0f8e36.ecbe2","name":"","rules":[{"t":"set","p":"anio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"a01d6a69.b125e8","type":"change","z":"ef0f8e36.ecbe2","name":"","rules":[{"t":"set","p":"mes","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[[]]},{"id":"55d0a9f1.936098","type":"change","z":"ef0f8e36.ecbe2","name":"","rules":[{"t":"set","p":"contadorDias","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[[]]},{"id":"beb9df68.b558b","type":"change","z":"c8a67420.af6ee8","name":"","rules":[{"t":"set","p":"anioColor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[[]]},{"id":"d30a90ff.79801","type":"change","z":"c8a67420.af6ee8","name":"","rules":[{"t":"set","p":"mesColor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[[]]},{"id":"9b1cf9ed.c3e428","type":"change","z":"c8a67420.af6ee8","name":"","rules":[{"t":"set","p":"contadorDiasColor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[[]]},{"id":"54de583a.3b4ba8","type":"function","z":"5f1859a0.bf27f8","name":"(Año) 4Díg 1LEDxSeg","func":"var h, col;\nvar blank=\"0,0,0\";\nvar firstDigit;\nvar secondDigit;\nvar thirdDigit;\nvar fourthDigit;\nvar i = 0;\nvar comma=\",\";\n\nvar Anio =  global.get('anio')||666;\nvar ColAnio =  global.get('anioColor')||\"1,1,1\";\nh=Anio;\ncol=ColAnio;\n\nvar numbers = [\n  0b11101110,    // 0\n  0b10001000,    // 1\n  0b01111100,    // 2    5555\n  0b11011100,    // 3   6    4\n  0b10011010,    // 4    3333\n  0b11010110,    // 5   2    0\n  0b11110110,    // 6    1111\n  0b10001100,    // 7\n  0b11111110,    // 8\n  0b11011110     // 9\n];\n\nfirstDigit = Math.floor(h / 1000);\nsecondDigit = Math.floor((h % 1000)/100);\nthirdDigit = Math.floor(((h%1000)%100)/ 10);\nfourthDigit = Math.floor(((h%1000)%100)%10);\n\n//---------------------------------------- firstDigit\n  for ( i = 0; i < 7; i++)\n  {\n    if ((numbers[firstDigit] & (1 << 1 + i)) && (firstDigit > 0)) //Revisa en el arreglo que sea diferente de 0\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n     \n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\n// ---------------------------------------- secondDigit\n  for (i = 0; i < 7; i++)\n  {\n    if ((numbers[secondDigit] & (1 << 1 + i)) && ((secondDigit >= 1) || (firstDigit > 0)))\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\n\n//-------------------------------------------- thirdDigit\n  for (i = 0; i < 7; i++)\n  {\n    if ((numbers[thirdDigit] & (1 << 1 + i)) && ((thirdDigit >= 1) || (secondDigit > 0) || (firstDigit > 0)))\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\n \n//-------------------------------------------- fourthDigit\n  for (i = 0; i < 7; i++)\n  {\n    if (numbers[fourthDigit] & (1 << 1 + i))\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[[]]},{"id":"87de5090.b14f1","type":"function","z":"5f1859a0.bf27f8","name":"Segmentos NPX","func":"var Anio =  context.global.get('anio');\nvar ColAnio =  context.global.get('anioColor');\nvar Mes =  context.global.get('mes');\nvar ColMes =  context.global.get('mesColor');\nvar ContadorDias =  context.global.get('contadorDias');\nvar ColContadorDias =  context.global.get('contadorDiasColor');\n\n//Cuántos segmentos ocupa cada número de día del mes\nvar segmDia=[2,5,5,4,5,6,3,7,6,8,4,7,7,6,7,8,5,9,8,11,7,10,10,9,10,11,8,12,11,11,7];\n//Suma total de segmentos iluminados hasta el día actual\nvar segmDiaTotal=[2,7,12,16,21,27,30,37,43,51,55,62,69,75,82,90,95,104,112,123,130,140,150,159,169,180,188,200,211,222,229];\nvar msg2;\nvar msg3;\nvar d = global.get(\"inicio\")||0;\nvar inicio = new Moment(d);\n\n\nvar actual =  new Moment();\nvar dias = actual.diff(inicio, 'days');\nvar semanas = actual.diff(inicio, 'weeks');\n\nglobal.set('dias',dias);\nglobal.set('semanas',semanas);\n\nmsg.payload = dias;\nmsg2 = {payload: inicio.format('DD/MM/YYYY')};\nmsg3 = {payload: semanas}\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":350,"y":260,"wires":[[],[],[]]},{"id":"88966ab7.a38108","type":"inject","z":"5f1859a0.bf27f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["54de583a.3b4ba8"]]},{"id":"67df4d0b.5bf094","type":"change","z":"c8a67420.af6ee8","name":"Format","rules":[{"t":"change","p":"payload","pt":"msg","from":"rgb(","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":")","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":", ","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["beb9df68.b558b"]]},{"id":"cf966bf6.a23b48","type":"change","z":"c8a67420.af6ee8","name":"Format","rules":[{"t":"change","p":"payload","pt":"msg","from":"rgb(","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":")","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":", ","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["d30a90ff.79801"]]},{"id":"896a8a42.be86c8","type":"change","z":"c8a67420.af6ee8","name":"Format","rules":[{"t":"change","p":"payload","pt":"msg","from":"rgb(","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":")","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":", ","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["9b1cf9ed.c3e428"]]},{"id":"7f1524df.9e253c","type":"function","z":"c8a67420.af6ee8","name":"Registro Incidentes","func":"var i = global.get(\"index\");\nvar TipoIncidente =  msg.payload;\nglobal.set(\"diasAccidentes[\"+i+\"]\",TipoIncidente);\nreturn;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[[]]},{"id":"edf7bdc3.d4c83","type":"function","z":"c8a67420.af6ee8","name":"AsignarDía Registro","func":"var i = msg.payload;\nglobal.set(\"index\",i);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[[]]},{"id":"dbad3092.c4145","type":"inject","z":"c8a67420.af6ee8","name":"Inicializador de arreglos","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":460,"wires":[[]]},{"id":"da435dd8.5953c","type":"function","z":"c8a67420.af6ee8","name":"Inicializador","func":"global.set(\"diasAccidentes\",[]);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[[]]},{"id":"d3ed4fa4.3257","type":"function","z":"5f1859a0.bf27f8","name":"getTipoAccidente(día)","func":"var i = msg.payload;\nvar accid = global.get(\"diasAccidentes[\"+i+\"]\")||0;\nmsg.payload = accid;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[[]]},{"id":"9a543128.59fb4","type":"debug","z":"ef0f8e36.ecbe2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":440,"wires":[]},{"id":"95fa87b8.f1c0f8","type":"link in","z":"5f1859a0.bf27f8","name":"","links":["83906cfa.cb63a"],"x":575,"y":240,"wires":[[]]},{"id":"548e40b6.ed557","type":"inject","z":"5f1859a0.bf27f8","name":"Inicializador de arreglos","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":360,"wires":[["21246bc1.807454"]]},{"id":"21246bc1.807454","type":"change","z":"5f1859a0.bf27f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["661a4276.f4b5dc"]]},{"id":"98fb9a19.9764e8","type":"function","z":"5f1859a0.bf27f8","name":"Set Color","func":"var count = global.get('count')||0;\nmsg.payload = msg.payload.replace(/[rgb()\\s]/g,\"\");\nif(count===0){\n    msg.payload = msg.payload;\n}\nelse{\n    msg.payload = (count-1) + \",\" + msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["661a4276.f4b5dc"]]},{"id":"d68354bf.769538","type":"function","z":"5f1859a0.bf27f8","name":"Selected LED","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = global.get('count')||0;\n\n// store the value back\nglobal.set('count',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":643,"wires":[[]]},{"id":"356e8d5d.a53a22","type":"function","z":"5f1859a0.bf27f8","name":"Rainbow Effect","func":"var numberOfLEDs = 100;\n\nfor(i=0; i<255; i++){\n    \n    for(j=0; j<numberOfLEDs; j++){\n        \n        var pos = 0;\n        pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        \n        if(pos<85){\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n        }\n        else if(pos < 170){\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n        }\n        else{\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n        }\n        var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n}","outputs":1,"noerr":0,"x":382,"y":965,"wires":[["f927205e.569e1"]]},{"id":"f927205e.569e1","type":"delay","z":"5f1859a0.bf27f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":940,"wires":[["661a4276.f4b5dc"]]},{"id":"1cc501b8.139cce","type":"ui_button","z":"5f1859a0.bf27f8","name":"Clear","group":"7e3ef529.b0186c","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","color":"","bgcolor":"","icon":"","payload":"0,0,0","payloadType":"str","topic":"","x":231,"y":855,"wires":[["661a4276.f4b5dc"]]},{"id":"e36e24a2.ad19a8","type":"ui_button","z":"5f1859a0.bf27f8","name":"Rainbow Effect","group":"7e3ef529.b0186c","order":5,"width":0,"height":0,"passthru":false,"label":"START RAINBOW EFFECT","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":914,"wires":[["356e8d5d.a53a22"]]},{"id":"6968dc9d.c910d4","type":"ui_dropdown","z":"c8a67420.af6ee8","name":"","label":"Tipo de incidente","tooltip":"","place":"Incidente","group":"6d0c68b3.94b638","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":0,"type":"num"},{"label":"Casi Accidentes","value":1,"type":"num"},{"label":"Primer Auxilio","value":2,"type":"num"},{"label":"No Incapacitante","value":3,"type":"num"},{"label":"Incapacitante","value":4,"type":"num"}],"payload":"","topic":"","x":210,"y":320,"wires":[["63987149.73d75","7f1524df.9e253c"]]},{"id":"8748b310.05e1f","type":"ui_dropdown","z":"5f1859a0.bf27f8","name":"Select Strip Color","label":"SELECT STRIP COLOR","place":"SELECT STRIP COLOR","group":"7e3ef529.b0186c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"255,0,0","type":"str"},{"label":"GREEN","value":"0,255,0","type":"str"},{"label":"BLUE","value":"0,0,255","type":"str"},{"label":"WHITE","value":"255,255,255","type":"str"},{"label":"PURPLE","value":"255,0,255","type":"str"},{"label":"CYAN","value":"0,255,255","type":"str"},{"label":"YELLOW","value":"255,255,0","type":"str"}],"payload":"","topic":"","x":267,"y":796,"wires":[["661a4276.f4b5dc"]]},{"id":"11de0679.b2242a","type":"ui_numeric","z":"5f1859a0.bf27f8","name":"Select LED","label":"LED SELECTED","group":"7e3ef529.b0186c","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"14","step":1,"x":254,"y":683,"wires":[["d68354bf.769538","1c4b27ac.fde3d8"]]},{"id":"1c4b27ac.fde3d8","type":"ui_slider","z":"5f1859a0.bf27f8","name":"Select LED","label":"SELECT LED","group":"7e3ef529.b0186c","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"14","step":1,"x":250,"y":580,"wires":[["d68354bf.769538","11de0679.b2242a"]]},{"id":"d69385b3.e0dc98","type":"ui_colour_picker","z":"c8a67420.af6ee8","name":"","label":"Año","group":"6d0c68b3.94b638","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":170,"y":80,"wires":[["67df4d0b.5bf094"]]},{"id":"b1cf0fdf.e3d0c","type":"ui_colour_picker","z":"c8a67420.af6ee8","name":"","label":"Mes","group":"6d0c68b3.94b638","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":170,"y":140,"wires":[["cf966bf6.a23b48"]]},{"id":"5371d469.07692c","type":"ui_colour_picker","z":"c8a67420.af6ee8","name":"","label":"Cont Día","group":"6d0c68b3.94b638","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":180,"y":200,"wires":[["896a8a42.be86c8"]]},{"id":"b5478b82.25ecc8","type":"ui_colour_picker","z":"5f1859a0.bf27f8","name":"Color Picker","label":"COLOR PICKER","group":"7e3ef529.b0186c","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":250,"y":740,"wires":[["98fb9a19.9764e8"]]},{"id":"ae9b79d1.20daf8","type":"ui_date_picker","z":"c8a67420.af6ee8","name":"","label":"date","group":"6d0c68b3.94b638","order":3,"width":"1","height":"1","passthru":true,"topic":"","x":170,"y":260,"wires":[["7303c0f4.73ccc"]]},{"id":"63987149.73d75","type":"ui_gauge","z":"c8a67420.af6ee8","name":"","group":"6d0c68b3.94b638","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"Gravedad","format":"","min":0,"max":"4","colors":["#00b500","#ffff00","#ff0000"],"seg1":"","seg2":"","x":390,"y":320,"wires":[]},{"id":"661a4276.f4b5dc","type":"rpi-neopixels","z":"5f1859a0.bf27f8","name":"","pixels":"100","bgnd":"","fgnd":"","wipe":"0","mode":"pixels","rgb":"rgb","brightness":"100","gamma":true,"x":760,"y":400,"wires":[]},{"id":"c2d511d2.9eed2","type":"moment","z":"ef0f8e36.ecbe2","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":200,"wires":[["990c8c5a.64d4a"]]},{"id":"18968fdb.9dd6d","type":"moment","z":"ef0f8e36.ecbe2","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":280,"wires":[["db90dc8.17c9a2","9a543128.59fb4"]]},{"id":"12155cbf.94a303","type":"moment","z":"ef0f8e36.ecbe2","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"M","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":340,"wires":[["a01d6a69.b125e8"]]},{"id":"7303c0f4.73ccc","type":"moment","z":"c8a67420.af6ee8","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":360,"y":260,"wires":[["edf7bdc3.d4c83"]]}]