node-red flows/flow.json
[{"id":"3dd346be.f221da","type":"tab","label":"Numeros","disabled":false,"info":""},{"id":"43e0fa9f.e8fdb4","type":"tab","label":"Fechas","disabled":false,"info":""},{"id":"ae8db508.042d68","type":"tab","label":"Color Fechas","disabled":false,"info":""},{"id":"978b756d.c96668","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6d0c68b3.94b638","type":"ui_group","z":"","name":"Default","tab":"978b756d.c96668","disp":true,"width":"6","collapse":false},{"id":"d628cff5.31ee2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e71f88c6.d2bf08","type":"ui_group","z":"","name":"Semana","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"7c228df5.eb99c4","type":"ui_group","z":"","name":"Calendario","tab":"","disp":true,"width":"6","collapse":false},{"id":"18e2dc0b.84ac14","type":"ui_group","z":"","name":"Nutrientes","tab":"","disp":true,"width":"6","collapse":false},{"id":"fc0c8731.9dbcc8","type":"ui_group","z":"","name":"Iniciar","tab":"","disp":true,"width":"6","collapse":false},{"id":"a6b18685.18ae58","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"bf8967ca.a90ca8","type":"ui_group","z":"","name":"Controles","tab":"","disp":true,"width":"6","collapse":false},{"id":"4cbe5aab.c0b044","type":"ui_tab","z":"","name":"Almacen","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3f6dc999.75ad16","type":"ui_group","z":"","name":"Tanque","tab":"4cbe5aab.c0b044","disp":true,"width":"6","collapse":true},{"id":"25c7dcad.032514","type":"ui_group","z":"","name":"Calendario","tab":"4cbe5aab.c0b044","disp":true,"width":"6","collapse":false},{"id":"7c7fc2ce.2f357c","type":"ui_group","z":"","name":"Nutrientes","tab":"4cbe5aab.c0b044","disp":true,"width":"6","collapse":false},{"id":"1af5ce87.810271","type":"ui_tab","z":"","name":"Configuraciones","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5857627e.62637c","type":"ui_group","z":"","name":"Iniciar","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"9d93afbe.c4b05","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"d5fc3d1a.c148d","type":"ui_group","z":"","name":"Controles","tab":"4cbe5aab.c0b044","disp":true,"width":"6","collapse":false},{"id":"ae2f688e.d22a98","type":"ui_group","z":"","name":"Fechas","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"db43df41.462a4","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"c99dff7a.19466","type":"ui_group","z":"","name":"WS2812B LED STRIP","tab":"717ecac7.d04874","order":1,"disp":true,"width":"7","collapse":false},{"id":"717ecac7.d04874","type":"ui_tab","z":"","name":"Colores","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5e2e55ce.3c49dc","type":"ui_group","z":"","name":"Semana 1","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"559cf0f6.43539","type":"ui_group","z":"","name":"Semana 2","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"d76747b9.d46748","type":"ui_group","z":"","name":"Semana 3","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"ffdd40fa.4d90b","type":"ui_group","z":"","name":"Semana 4","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"4d7fe2cc.3e63ec","type":"ui_group","z":"","name":"Semana 5","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"d1165cc7.9839","type":"ui_group","z":"","name":"Semana 6","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"f2d86edd.70653","type":"ui_group","z":"","name":"Semana 7","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"a9a72715.286278","type":"ui_group","z":"","name":"Semana 8","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"8b7c8da0.7c576","type":"ui_group","z":"","name":"Semana 9","tab":"1af5ce87.810271","disp":true,"width":"6","collapse":false},{"id":"5996998c.085fa8","type":"ui_group","z":"","name":"Semana","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"b8b5c3a9.99c4d","type":"ui_group","z":"","name":"Calendario","tab":"","disp":true,"width":"6","collapse":false},{"id":"14c8f934.d99187","type":"ui_group","z":"","name":"Nutrientes","tab":"","disp":true,"width":"6","collapse":false},{"id":"4dfccbc3.b551f4","type":"ui_group","z":"","name":"Iniciar","tab":"","disp":true,"width":"6","collapse":false},{"id":"faf41347.85266","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"fda5a495.5ca9a8","type":"ui_group","z":"","name":"Controles","tab":"","disp":true,"width":"6","collapse":false},{"id":"8b0f3b19.320f78","type":"ui_tab","z":"","name":"Almacen","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8fbe95f2.98a378","type":"ui_group","z":"","name":"Tanque","tab":"8b0f3b19.320f78","disp":true,"width":"6","collapse":true},{"id":"c122412.3afedc","type":"ui_group","z":"","name":"Calendario","tab":"8b0f3b19.320f78","disp":true,"width":"6","collapse":false},{"id":"df97c0b8.96c95","type":"ui_group","z":"","name":"Nutrientes","tab":"8b0f3b19.320f78","disp":true,"width":"6","collapse":false},{"id":"f3091a41.262518","type":"ui_tab","z":"","name":"Configuraciones","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5d342ae3.f898a4","type":"ui_group","z":"","name":"Iniciar","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"19dc7970.a86107","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"a08d39c9.2a0328","type":"ui_group","z":"","name":"Controles","tab":"8b0f3b19.320f78","disp":true,"width":"6","collapse":false},{"id":"bb802405.e6f018","type":"ui_group","z":"","name":"Fechas","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"c3c6bdb1.d394e","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"79160e03.28413","type":"ui_group","z":"","name":"WS2812B LED STRIP","tab":"a0355836.2b3888","order":1,"disp":true,"width":"7","collapse":false},{"id":"a0355836.2b3888","type":"ui_tab","z":"","name":"Colores","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"68bbaf63.c8702","type":"ui_group","z":"","name":"Semana 1","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"4654471e.6f53d8","type":"ui_group","z":"","name":"Semana 2","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"3371b03c.092c9","type":"ui_group","z":"","name":"Semana 3","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"26420ea7.a94422","type":"ui_group","z":"","name":"Semana 4","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"50677a8b.593584","type":"ui_group","z":"","name":"Semana 5","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"dc5fe755.18f108","type":"ui_group","z":"","name":"Semana 6","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"dba3bcaf.5b2af","type":"ui_group","z":"","name":"Semana 7","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"267f2c43.e069b4","type":"ui_group","z":"","name":"Semana 8","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"d2151a5f.c1d388","type":"ui_group","z":"","name":"Semana 9","tab":"f3091a41.262518","disp":true,"width":"6","collapse":false},{"id":"7e3ef529.b0186c","type":"ui_group","z":"","name":"WS2812B LED STRIP","tab":"30947bab.23eed4","order":1,"disp":true,"width":"6"},{"id":"30947bab.23eed4","type":"ui_tab","z":"","name":"Lab","icon":"dashboard","order":1},{"id":"d9432bab.2cad58","type":"rpi-neopixels","z":"3dd346be.f221da","name":"","pixels":"100","bgnd":"","fgnd":"","wipe":"0","mode":"pixels","rgb":"rgb","brightness":"100","gamma":true,"x":760,"y":400,"wires":[]},{"id":"a09a590d.7e28b8","type":"inject","z":"43e0fa9f.e8fdb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":280,"wires":[["bf32994e.ea6b68","3d584b55.041d44","4d7c4c7e.681bf4"]]},{"id":"bf32994e.ea6b68","type":"moment","z":"43e0fa9f.e8fdb4","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":200,"wires":[["c48b94c5.0a5e28"]]},{"id":"10c09c1f.bfe6a4","type":"function","z":"43e0fa9f.e8fdb4","name":"Dias Accidentes","func":"var Moment =  context.global.get('moment');\n//Cuántos segmentos ocupa cada número de día del mes\nvar segmDia=[2,5,5,4,5,6,3,7,6,8,4,7,7,6,7,8,5,9,8,11,7,10,10,9,10,11,8,12,11,11,7];\n//Suma total de segmentos iluminados hasta el día actual\nvar segmDiaTotal=[2,7,12,16,21,27,30,37,43,51,55,62,69,75,82,90,95,104,112,123,130,140,150,159,169,180,188,200,211,222,229];\nvar msg2;\nvar msg3;\nvar d = global.get(\"inicio\")||0;\nvar inicio = new Moment(d);\n\n\nvar actual =  new Moment();\nvar dias = actual.diff(inicio, 'days');\nvar semanas = actual.diff(inicio, 'weeks');\n\nglobal.set('dias',dias);\nglobal.set('semanas',semanas);\n\nmsg.payload = dias;\nmsg2 = {payload: inicio.format('DD/MM/YYYY')};\nmsg3 = {payload: semanas}\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":620,"y":60,"wires":[[],[],[]]},{"id":"c48b94c5.0a5e28","type":"change","z":"43e0fa9f.e8fdb4","name":"","rules":[{"t":"set","p":"diaActual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"f1f96a9a.e564b8","type":"change","z":"43e0fa9f.e8fdb4","name":"","rules":[{"t":"set","p":"anio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"d5c7a03c.fb8ac","type":"change","z":"43e0fa9f.e8fdb4","name":"","rules":[{"t":"set","p":"mes","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[[]]},{"id":"ca950886.4793a8","type":"change","z":"43e0fa9f.e8fdb4","name":"","rules":[{"t":"set","p":"contadorDias","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[[]]},{"id":"3d584b55.041d44","type":"moment","z":"43e0fa9f.e8fdb4","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":280,"wires":[["f1f96a9a.e564b8","1cc2823f.b7b16e"]]},{"id":"4d7c4c7e.681bf4","type":"moment","z":"43e0fa9f.e8fdb4","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"M","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":340,"y":340,"wires":[["d5c7a03c.fb8ac"]]},{"id":"6ef21509.dd635c","type":"change","z":"ae8db508.042d68","name":"","rules":[{"t":"set","p":"anioColor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[[]]},{"id":"136db143.fdd59f","type":"change","z":"ae8db508.042d68","name":"","rules":[{"t":"set","p":"mesColor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[[]]},{"id":"896347ea.705788","type":"change","z":"ae8db508.042d68","name":"","rules":[{"t":"set","p":"contadorDiasColor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[[]]},{"id":"6e906a37.c20334","type":"function","z":"3dd346be.f221da","name":"(Año) 4Díg 1LEDxSeg","func":"var h, col;\nvar blank=\"0,0,0\";\nvar firstDigit;\nvar secondDigit;\nvar thirdDigit;\nvar fourthDigit;\nvar i = 0;\nvar comma=\",\";\n\nvar Anio =  global.get('anio')||666;\nvar ColAnio =  global.get('anioColor')||\"1,1,1\";\nh=Anio;\ncol=ColAnio;\n\nvar numbers = [\n  0b11101110,    // 0\n  0b10001000,    // 1\n  0b01111100,    // 2    5555\n  0b11011100,    // 3   6    4\n  0b10011010,    // 4    3333\n  0b11010110,    // 5   2    0\n  0b11110110,    // 6    1111\n  0b10001100,    // 7\n  0b11111110,    // 8\n  0b11011110     // 9\n];\n\nfirstDigit = Math.floor(h / 1000);\nsecondDigit = Math.floor((h % 1000)/100);\nthirdDigit = Math.floor(((h%1000)%100)/ 10);\nfourthDigit = Math.floor(((h%1000)%100)%10);\n\n//---------------------------------------- firstDigit\n  for ( i = 0; i < 7; i++)\n  {\n    if ((numbers[firstDigit] & (1 << 1 + i)) && (firstDigit > 0)) //Revisa en el arreglo que sea diferente de 0\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n     \n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\n// ---------------------------------------- secondDigit\n  for (i = 0; i < 7; i++)\n  {\n    if ((numbers[secondDigit] & (1 << 1 + i)) && ((secondDigit >= 1) || (firstDigit > 0)))\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\n\n//-------------------------------------------- thirdDigit\n  for (i = 0; i < 7; i++)\n  {\n    if ((numbers[thirdDigit] & (1 << 1 + i)) && ((thirdDigit >= 1) || (secondDigit > 0) || (firstDigit > 0)))\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\n \n//-------------------------------------------- fourthDigit\n  for (i = 0; i < 7; i++)\n  {\n    if (numbers[fourthDigit] & (1 << 1 + i))\n    {\n     node.send({payload:col});\n     //node.send({payload:col});\n    }\n    else\n    {\n     node.send({payload:blank});\n     //node.send({payload:blank});  \n    }\n  }\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[[]]},{"id":"b8c8cf82.3a865","type":"function","z":"3dd346be.f221da","name":"Segmentos NPX","func":"var Anio =  context.global.get('anio');\nvar ColAnio =  context.global.get('anioColor');\nvar Mes =  context.global.get('mes');\nvar ColMes =  context.global.get('mesColor');\nvar ContadorDias =  context.global.get('contadorDias');\nvar ColContadorDias =  context.global.get('contadorDiasColor');\n\n//Cuántos segmentos ocupa cada número de día del mes\nvar segmDia=[2,5,5,4,5,6,3,7,6,8,4,7,7,6,7,8,5,9,8,11,7,10,10,9,10,11,8,12,11,11,7];\n//Suma total de segmentos iluminados hasta el día actual\nvar segmDiaTotal=[2,7,12,16,21,27,30,37,43,51,55,62,69,75,82,90,95,104,112,123,130,140,150,159,169,180,188,200,211,222,229];\nvar msg2;\nvar msg3;\nvar d = global.get(\"inicio\")||0;\nvar inicio = new Moment(d);\n\n\nvar actual =  new Moment();\nvar dias = actual.diff(inicio, 'days');\nvar semanas = actual.diff(inicio, 'weeks');\n\nglobal.set('dias',dias);\nglobal.set('semanas',semanas);\n\nmsg.payload = dias;\nmsg2 = {payload: inicio.format('DD/MM/YYYY')};\nmsg3 = {payload: semanas}\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":350,"y":260,"wires":[[],[],[]]},{"id":"f59f1a51.29b588","type":"inject","z":"3dd346be.f221da","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["6e906a37.c20334"]]},{"id":"4b8521ec.c4684","type":"ui_colour_picker","z":"ae8db508.042d68","name":"","label":"Año","group":"6d0c68b3.94b638","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":170,"y":80,"wires":[["3ef555ab.d260fa"]]},{"id":"31071212.91cfde","type":"ui_colour_picker","z":"ae8db508.042d68","name":"","label":"Mes","group":"6d0c68b3.94b638","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":170,"y":140,"wires":[["5a7c7465.f4b49c"]]},{"id":"f3962e9e.dfe6d","type":"ui_colour_picker","z":"ae8db508.042d68","name":"","label":"Cont Día","group":"6d0c68b3.94b638","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":180,"y":200,"wires":[["7ab979cb.0970b8"]]},{"id":"3ef555ab.d260fa","type":"change","z":"ae8db508.042d68","name":"Format","rules":[{"t":"change","p":"payload","pt":"msg","from":"rgb(","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":")","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":", ","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["6ef21509.dd635c"]]},{"id":"5a7c7465.f4b49c","type":"change","z":"ae8db508.042d68","name":"Format","rules":[{"t":"change","p":"payload","pt":"msg","from":"rgb(","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":")","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":", ","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["136db143.fdd59f"]]},{"id":"7ab979cb.0970b8","type":"change","z":"ae8db508.042d68","name":"Format","rules":[{"t":"change","p":"payload","pt":"msg","from":"rgb(","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":")","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":", ","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["896347ea.705788"]]},{"id":"e04262c6.ba6b8","type":"ui_date_picker","z":"ae8db508.042d68","name":"","label":"date","group":"6d0c68b3.94b638","order":3,"width":"1","height":"1","passthru":true,"topic":"","x":170,"y":260,"wires":[["39d08227.e0b93e"]]},{"id":"ec059c52.8db0d","type":"ui_dropdown","z":"ae8db508.042d68","name":"","label":"Tipo de incidente","tooltip":"","place":"Incidente","group":"6d0c68b3.94b638","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Sin Accidentes","value":0,"type":"num"},{"label":"Casi Accidentes","value":1,"type":"num"},{"label":"Primer Auxilio","value":2,"type":"num"},{"label":"No Incapacitante","value":3,"type":"num"},{"label":"Incapacitante","value":4,"type":"num"}],"payload":"","topic":"","x":210,"y":320,"wires":[["70caabab.56b8f4","7a226ac7.7febc4"]]},{"id":"70caabab.56b8f4","type":"ui_gauge","z":"ae8db508.042d68","name":"","group":"6d0c68b3.94b638","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"Gravedad","format":"","min":0,"max":"4","colors":["#00b500","#ffff00","#ff0000"],"seg1":"","seg2":"","x":390,"y":320,"wires":[]},{"id":"39d08227.e0b93e","type":"moment","z":"ae8db508.042d68","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Mexico_City","adjAmount":0,"adjType":"days","adjDir":"add","format":"D","locale":"es_MX","output":"","outputType":"msg","outTz":"America/Mexico_City","x":360,"y":260,"wires":[["f1b35cfb.0e85f"]]},{"id":"7a226ac7.7febc4","type":"function","z":"ae8db508.042d68","name":"Registro Incidentes","func":"var i = global.get(\"index\");\nvar TipoIncidente =  msg.payload;\nglobal.set(\"diasAccidentes[\"+i+\"]\",TipoIncidente);\nreturn;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[[]]},{"id":"f1b35cfb.0e85f","type":"function","z":"ae8db508.042d68","name":"AsignarDía Registro","func":"var i = msg.payload;\nglobal.set(\"index\",i);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[[]]},{"id":"8cb0121c.c21b","type":"inject","z":"ae8db508.042d68","name":"Inicializador de arreglos","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":460,"wires":[[]]},{"id":"f9d461e3.ca2c8","type":"function","z":"ae8db508.042d68","name":"Inicializador","func":"global.set(\"diasAccidentes\",[]);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[[]]},{"id":"cd1da9b8.aedea8","type":"function","z":"3dd346be.f221da","name":"getTipoAccidente(día)","func":"var i = msg.payload;\nvar accid = global.get(\"diasAccidentes[\"+i+\"]\")||0;\nmsg.payload = accid;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[[]]},{"id":"1cc2823f.b7b16e","type":"debug","z":"43e0fa9f.e8fdb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":440,"wires":[]},{"id":"a76d16fb.793e08","type":"link in","z":"3dd346be.f221da","name":"","links":["83906cfa.cb63a"],"x":575,"y":240,"wires":[[]]},{"id":"f67bd1aa.5c0d3","type":"inject","z":"3dd346be.f221da","name":"Inicializador de arreglos","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":360,"wires":[["92edb300.b368"]]},{"id":"92edb300.b368","type":"change","z":"3dd346be.f221da","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["d9432bab.2cad58"]]},{"id":"55217a37.c28654","type":"ui_colour_picker","z":"3dd346be.f221da","name":"Color Picker","label":"COLOR PICKER","group":"7e3ef529.b0186c","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":250,"y":740,"wires":[["1fa79af5.05aba5"]]},{"id":"1fa79af5.05aba5","type":"function","z":"3dd346be.f221da","name":"Set Color","func":"var count = global.get('count')||0;\nmsg.payload = msg.payload.replace(/[rgb()\\s]/g,\"\");\nif(count===0){\n    msg.payload = msg.payload;\n}\nelse{\n    msg.payload = (count-1) + \",\" + msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["d9432bab.2cad58"]]},{"id":"f4f7ed7c.ed5a","type":"ui_numeric","z":"3dd346be.f221da","name":"Select LED","label":"LED SELECTED","group":"7e3ef529.b0186c","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"14","step":1,"x":254,"y":683,"wires":[["23eb3992.528bd6","b252c1e.306844"]]},{"id":"23eb3992.528bd6","type":"function","z":"3dd346be.f221da","name":"Selected LED","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = global.get('count')||0;\n\n// store the value back\nglobal.set('count',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":643,"wires":[[]]},{"id":"2653d1e3.78893e","type":"ui_button","z":"3dd346be.f221da","name":"Clear","group":"7e3ef529.b0186c","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","color":"","bgcolor":"","icon":"","payload":"0,0,0","payloadType":"str","topic":"","x":231,"y":855,"wires":[["d9432bab.2cad58"]]},{"id":"b252c1e.306844","type":"ui_slider","z":"3dd346be.f221da","name":"Select LED","label":"SELECT LED","group":"7e3ef529.b0186c","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"14","step":1,"x":250,"y":580,"wires":[["23eb3992.528bd6","f4f7ed7c.ed5a"]]},{"id":"95d03771.b7e828","type":"ui_dropdown","z":"3dd346be.f221da","name":"Select Strip Color","label":"SELECT STRIP COLOR","place":"SELECT STRIP COLOR","group":"7e3ef529.b0186c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"255,0,0","type":"str"},{"label":"GREEN","value":"0,255,0","type":"str"},{"label":"BLUE","value":"0,0,255","type":"str"},{"label":"WHITE","value":"255,255,255","type":"str"},{"label":"PURPLE","value":"255,0,255","type":"str"},{"label":"CYAN","value":"0,255,255","type":"str"},{"label":"YELLOW","value":"255,255,0","type":"str"}],"payload":"","topic":"","x":267,"y":796,"wires":[["d9432bab.2cad58"]]},{"id":"c302c4bc.2c1e48","type":"function","z":"3dd346be.f221da","name":"Rainbow Effect","func":"var numberOfLEDs = 100;\n\nfor(i=0; i<255; i++){\n    \n    for(j=0; j<numberOfLEDs; j++){\n        \n        var pos = 0;\n        pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        \n        if(pos<85){\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n        }\n        else if(pos < 170){\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n        }\n        else{\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n        }\n        var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n}","outputs":1,"noerr":0,"x":382,"y":965,"wires":[["ec26ce8b.29c63"]]},{"id":"6aaea879.8e3328","type":"ui_button","z":"3dd346be.f221da","name":"Rainbow Effect","group":"7e3ef529.b0186c","order":5,"width":0,"height":0,"passthru":false,"label":"START RAINBOW EFFECT","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":914,"wires":[["c302c4bc.2c1e48"]]},{"id":"ec26ce8b.29c63","type":"delay","z":"3dd346be.f221da","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":940,"wires":[["d9432bab.2cad58"]]}]