node-red flows/flows_raspberrypi.json
[{"id":"bb51482b.f84128","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7d101e4f.db0cb","type":"function","z":"bb51482b.f84128","name":"Altura->Litros","func":"// initialise the counter to 0 if it doesn't exist already\nvar altura = msg.payload;\nvar area =0.15;//Unidades en m^2\nvar litros;\naltura=altura/100; //Convertir a metros\nlitros = altura*area*1000; //Convierte el volumen a litros\nglobal.litros=litros;\nmsg.payload = litros;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[[]]},{"id":"7aecd9cc.a90c38","type":"rpi-srf","z":"bb51482b.f84128","name":"Ultra 16,18","topic":"Ultrasónico","pulse":"1","pins":"16,18","x":240,"y":280,"wires":[["7d101e4f.db0cb"]]},{"id":"2c1f557a.603c6a","type":"debug","z":"bb51482b.f84128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"litros","targetType":"msg","x":460,"y":180,"wires":[]},{"id":"51e0da37.df7c64","type":"inject","z":"bb51482b.f84128","name":"","topic":"","payload":"","payloadType":"date","repeat":".1","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":180,"wires":[["2c1f557a.603c6a"]]}]